{% extends 'base.html' %}
{% from 'macros.html' import letter %}
{% block title %}{{ text('Абетка') }}{% endblock %}
{% block content %}
<div class="text-center mt-3">
    <h1>{{ text('Абетка') }}</h1>
    <div class="container mb-3 text-nowrap abc">
        <div class="row border border-dark">
            {{ letter('A', 'а', 'vowel') }}
            {{ letter('B', 'бе') }}
            <div class="w-100 d-md-none"></div>
            {{ letter('C', 'це') }}
            {{ letter('Č', 'че', 'caron') }}
            <div class="w-100 d-md-none"></div>
            {{ letter('D', 'де') }}
            {{ letter('Đ', 'дже', 'stroke') }}
            <div class="w-100 d-md-none"></div>
            {{ letter('E', 'е', 'vowel') }}
            <div class="w-100 d-none d-md-block"></div>
            {{ letter('F', 'еф') }}
            <div class="w-100 d-md-none"></div>
            {{ letter('G', 'ґе') }}
            {{ letter('H', 'ге/га') }}
            <div class="w-100 d-md-none"></div>
            {{ letter('I', 'и', 'vowel') }}
            {{ letter('J', 'йот', 'jot') }}
            <div class="w-100 d-md-none"></div>
            {{ letter('K', 'ка') }}
            {{ letter('L', 'ел') }}
            <div class="w-100"></div>
            {{ letter('M', 'ем') }}
            {{ letter('N', 'ен') }}
            <div class="w-100 d-md-none"></div>
            {{ letter('O', 'о', 'vowel') }}
            {{ letter('P', 'пе') }}
            <div class="w-100 d-md-none"></div>
            {{ letter('R', 'ер') }}
            {{ letter('S', 'ес') }}
            <div class="w-100 d-md-none"></div>
            {{ letter('Š', 'ша/еш', 'caron') }}
            <div class="w-100 d-none d-md-block"></div>
            {{ letter('T', 'те') }}
            <div class="w-100 d-md-none"></div>
            {{ letter('U', 'у', 'vowel') }}
            {{ letter('V', 'ве') }}
            <div class="w-100 d-md-none"></div>
            {{ letter('X', 'ха') }}
            {{ letter('Z', 'зе') }}
            <div class="w-100 d-md-none"></div>
            {{ letter('Ž', 'же', 'caron') }}
            {{ letter('Ƶ', 'дзе', 'stroke') }}
        </div>
    </div>
</div>
<p>
    {{ text('Абетка складається з') }} <b>28</b> {{ text('літер:') }} <b>5</b> {{ text('голосних і') }} <b>23</b> {{ text('приголосних') }}
</p>
<p>
    <a href="https://uk.wikipedia.org/wiki/%D0%94%D1%96%D0%B0%D0%BA%D1%80%D0%B8%D1%82%D0%B8%D1%87%D0%BD%D0%B8%D0%B9_%D0%B7%D0%BD%D0%B0%D0%BA" target="_blank">{{ text('Діакритичні знаки') }}</a>, {{ text('що утворюють окремі літери:') }}
</p>
    <ul>
        <li><a href="https://uk.wikipedia.org/wiki/%D0%93%D0%B0%D1%87%D0%B5%D0%BA" target="_blank">{{ text('гачо\u0301к', clear=True) }} {{ text('(карон)') }}</a>: č, š, ž</li>
        <li><a href="https://en.wikipedia.org/wiki/Bar_(diacritic)" target="_blank">{{ text('за\u0301рубка', clear=True) }} (stroke)</a>: đ, ƶ</li>
    </ul>
<p>
    <a href="https://uk.wikipedia.org/wiki/%D0%90%D0%BA%D1%83%D1%82" target="_blank">{{ text('Штрих (акут)') }}</a> {{ text('не утворює окрему літеру') }} ({{ text('дивіться') }} <a href="{{ page('spell') }}">{{ text('Правопис') }}</a>)
</p>
{% endblock %}
