{% extends 'base.html' %}
{% from 'macros.html' import examples with context %}
{% from 'macros.html' import letter %}
{% from 'macros.html' import usage, usagej, usagevw with context %}
{% block title %}{{ text('Абетка та правопис') }}{% endblock %}
{% block content %}
<h1 class="mt-3 text-center">{{ text('Абетка') }}</h1>
<p>
    {{ text('Абетка складається з') }} <b>30</b> {{ text('літер:') }} <b>6</b> {{ text('голосних і') }} <b>24</b> {{ text('приголосних') }}
</p>
<div class="text-center container mb-3 text-nowrap abc">
    <div class="row border border-dark">
        {{ letter('A', 'а', 'vowel') }}
        {{ letter('B', 'бе') }}
        <div class="w-100 d-md-none"></div>
        {{ letter('C', 'це') }}
        {{ letter('Č', 'че', 'caron') }}
        <div class="w-100 d-md-none"></div>
        {{ letter('D', 'де') }}
        {{ letter('Đ', 'д\u0361же', 'stroke') }}
        <div class="w-100"></div>
        {{ letter('E', 'е', 'vowel') }}
        {{ letter('F', 'еф') }}
        <div class="w-100 d-md-none"></div>
        {{ letter('G', 'ґе') }}
        {{ letter('H', 'га') }}
        <div class="w-100 d-md-none"></div>
        {{ letter('I', 'і', 'vowel-i') }}
        {{ letter('J', 'йот', 'jot') }}
        <div class="w-100"></div>
        {{ letter('K', 'ка') }}
        {{ letter('L', 'ел') }}
        <div class="w-100 d-md-none"></div>
        {{ letter('M', 'ем') }}
        {{ letter('N', 'ен') }}
        <div class="w-100 d-md-none"></div>
        {{ letter('O', 'о', 'vowel') }}
        {{ letter('P', 'пе') }}
        <div class="w-100"></div>
        {{ letter('R', 'ер') }}
        {{ letter('S', 'ес') }}
        <div class="w-100 d-md-none"></div>
        {{ letter('Š', 'еш', 'caron') }}
        {{ letter('T', 'те') }}
        <div class="w-100 d-md-none"></div>
        {{ letter('U', 'у', 'vowel') }}
        {{ letter('V', 'ве') }}
        <div class="w-100"></div>
        {{ letter('W', 'eў', 'ew') }}
        {{ letter('X', 'ха') }}
        <div class="w-100 d-md-none"></div>
        {{ letter('Y', 'и', 'vowel') }}
        {{ letter('Z', 'зе') }}
        <div class="w-100 d-md-none"></div>
        {{ letter('Ž', 'же', 'caron') }}
        {{ letter('Ƶ', 'д\u0361зе', 'stroke') }}
    </div>
</div>

<h1 class="mt-3 text-center">{{ text('Правопис') }}</h1>
<h3 class="text-center">I</h3>
<ol>
    <li>{{ text('Голосні') }} <b>а</b>, <b>е</b>, <b>и</b>, <b>і</b>, <b>о</b>, <b>у</b> &rarr;
        <b>a</b>, <b>e</b>, <b>y</b>, <b>i</b>, <b>o</b>, <b>u</b></li>
    <li>{{ text('Приголосні') }} <b>б</b>, <b>в</b>, <b>г</b>, <b>ґ</b>, <b>д</b>, <b>з</b>, <b>к</b>, <b>л</b>, <b>м</b>, <b>н</b>, <b>п</b>, <b>р</b>, <b>с</b>, <b>т</b>, <b>ф</b>, <b>х</b>, <b>ц</b> &rarr;
        <b>b</b>, <b>v</b>, <b>h</b>, <b>g</b>, <b>d</b>, <b>z</b>, <b>k</b>, <b>l</b>, <b>m</b>, <b>n</b>, <b>p</b>, <b>r</b>, <b>s</b>, <b>t</b>, <b>f</b>, <b>x</b>, <b>c</b></li>
    <li>{{ text('Шиплячі приголосні') }} <b>ж</b>, <b>ч</b>, <b>ш</b> &rarr; <b>ž</b>, <b>č</b>, <b>š</b></li>
    <li>{{ text("Знак м'якшення") }} <b>ь</b> &rarr; {{ text("скіпка над пом'якшуваною приголосною:") }} {{ examples('олень') }}</li>
    <li>{{ text('Приголосна') }} <b>й</b> &rarr; <b>j</b>, {{ text("завжди м'яка (не пом'якшується)") }}</li>
    <li>{{ text('Літера') }} <b>ї</b> &rarr; <b>ji</b>: {{ examples('їжак', 'гаївка', "об'їзд") }}</li>
    <li>{{ text('Літера') }} <b>щ</b> &rarr; <b>šč</b>: {{ examples('щур') }}</li>
</ol>
<h3 class="text-center">II</h3>
<ol>
    <li><b>i</b> {{ text("завжди пом'якшує попередню приголосну, скіпка над якою не ставиться") }}: {{ examples('ластівка') }}</li>
    <li>{{ text("Йотовані голосні на початку слова, після голосних, апострофа та знака м'якшення") }} <b>є</b>, <b>ю</b>, <b>я</b> &rarr; <b>je</b>, <b>ju</b>, <b>ja</b>: {{ examples('єнот', 'знаю', "сім'я") }}</li>
    <li>{{ text('Після приголосних') }} <b>є</b>, <b>ю</b>, <b>я</b> &rarr; {{ text("пом'якшена приголосна") }} + <b>e</b>, <b>u</b>, <b>a</b>: {{ examples('майбутнє', 'гадюка', 'дятел') }}</li>
</ol>
<h3 class="text-center">III</h3>
<ol>
    <li>{{ text('Апостроф не використовується:') }} {{ examples("в'яз") }}</li>
    <li>{{ text('Літеросполучення') }} <b>дж</b>, <b>дз</b> &rarr; <b>đ</b>, <b>ƶ</b>: {{ examples('джміль', 'бджілка', 'дзвоник', 'ґедзь') }}</li>
    <li>{{ text('На межі префікса і кореня') }} <b>дж</b>, <b>дз</b> &rarr; <b>dž</b>, <b>dz</b>: {{ examples('підживити', 'відзначити') }}</li>
</ol>

<h1 class="text-center mt-3">{{ text('Вжиток') }}</h1>
<div class="table-responsive">
    <table class="table table-bordered usage">
        <thead class="thead-dark">
            <tr class="d-none d-md-table-row">
                <th class="inline-block text-truncate">{{ text('Кирилиця') }}</th>
                <th>{{ text('Лесівка') }}</th>
                <th colspan="3">{{ text('Приклад') }}</th>
            </tr>
        </thead>
        <tbody>
            {{ usage('а', 'акула') }}
            {{ usage('б', 'бабак') }}
            {{ usagevw('в', 'вивірка', 'в\'юрок') }}
            {{ usage('г', 'галка') }}
            {{ usage('ґ', 'ґава') }}
            {{ usage('д', 'дуб') }}
            {{ usage('е', 'ему') }}
            {{ usagej('є', 'єнот', 'майбутнє') }}
            {{ usage('ж', 'жаба') }}
            {{ usage('з', 'зубр') }}
            {{ usage('и', 'индик') }}
            {{ usage('і', 'ігуана') }}
            {{ usage('ї', 'їжак') }}
            {{ usage('й', 'йорж') }}
            {{ usage('к', 'качка') }}
            {{ usage('л', 'лелека') }}
            {{ usage('м', 'муха') }}
            {{ usage('н', 'нетопир') }}
            {{ usage('о', 'орел') }}
            {{ usage('п', 'павич') }}
            {{ usage('р', 'равлик') }}
            {{ usage('с', 'собака') }}
            {{ usage('т', 'тигр') }}
            {{ usage('у', 'удав') }}
            {{ usage('ф', 'фретка') }}
            {{ usage('х', 'ховрах') }}
            {{ usage('ц', 'цесарка') }}
            {{ usage('ч', 'чайка') }}
            {{ usage('ш', 'шпак') }}
            {{ usage('щ', 'щур') }}
            {{ usage('ь', 'олень', softsign=True) }}
            {{ usagej('ю', 'юка', 'гадюка') }}
            {{ usagej('я', 'яструб', 'дятел') }}
            {{ usage('дж', 'джміль') }}
            {{ usage('дз', 'ґедзь') }}
        </tbody>
    </table>
</div>
{% endblock %}
