<!doctype html>
<html lang="uk">
    <head>
        {% include 'gtag.html' %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
        <link rel="manifest" href="/static/icons/site.webmanifest">
        <link rel="mask-icon" href="/static/icons/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="apple-mobile-web-app-title" content="{{ encode('Лесівка') }}">
        <meta name="application-name" content="{{ encode('Лесівка') }}">
        <meta name="msapplication-TileColor" content="#2d89ef">
        <meta name="theme-color" content="#007bff">

        <meta property="og:image" content="/static/og-image.jpg">
        <meta property="og:image:width" content="279">
        <meta property="og:image:height" content="279">
        <meta property="og:title" content="{{ encode('Лесівка') }}">
        <meta property="og:url" content="https://lesivka.com">
        <meta property="og:description" content="Ле&#769;сівка&nbsp;&mdash; проект правопису української мови засобами латинської абетки">

        <title>{{ encode('Лесівка') }} :: {% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <link href="/static/style.css" rel="stylesheet">
    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary">
                <div class="container d-flex justify-content-between">
                    <a href="{{ url_for('www.root') }}" class="navbar-brand">{{ encode('Лесівка') }}</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav">
                            <li class="{{ active('nav-item', name='index') }}">
                                <a class="nav-link" href="{{ page() }}">{{ text('Загальні відомості') }}</a>
                            </li>
                            <li class="{{ active('nav-item', name='abc') }}">
                                <a class="nav-link" href="{{ page('abc') }}">{{ text('Абетка та правопис') }}</a>
                            </li>
                            <li class="{{ active('nav-item', name='examples') }}">
                                <a class="nav-link" href="{{ page('examples') }}">{{ text('Приклади') }}</a>
                            </li>
                        </ul>
                        <hr class="d-lg-none">
                        <div class="btn-group d-none d-lg-flex mx-auto">
                            <a class="{{ active('btn btn-success', name='conv') }}" role="button" href="{{ page('conv') }}">{{ text('Конвертер') }}</a>
                            <a class="btn btn-success" role="button" href="{{ page('conv') }}" target="_blank" title="{{ text('Відкрити окремо') }}">&#x1f855;</a>
                        </div>
                        <div class="d-lg-none">
                            <a class="{{ active('btn btn-success w-100', name='conv') }}" role="button" href="{{ page('conv') }}">{{ text('Конвертер') }}</a>
                        </div>
                        <hr class="d-lg-none">
                        <div class="btn-group btn-group-sm d-flex">
                            <a class="{{ active('btn btn-light w-100', mode='cyr') }}" role="button" href="{{ switch('cyr') }}">Кирилиця</a>
                            <a class="{{ active('btn btn-light w-100', mode='lat') }}" role="button" href="{{ switch('lat') }}">{{ encode('Латинка') }}</a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <main role="main" class="container">
            {% block content %}{% endblock %}
        </main>

        <footer class="footer bg-warning">
            <div class="container d-flex justify-content-between">
                <span>&copy; 2018&ndash;2019 {{ text('Олександр Тішин') }}</span>
                <a class="" href="https://facebook.com/lesivka" target="_blank"><img title="Facebook" src="/static/facebook.png"></a>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        {% block script %}{% endblock %}
    </body>
</html>
