<!doctype html>
<html lang="uk">
    <head>
        {% if TRACKING_ID %}
        {% include 'gtag.html' %}
        {% endif %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="apple-mobile-web-app-title" content="{{ encode('Лесівка') }}">
        <meta name="application-name" content="{{ encode('Лесівка') }}">
        <meta name="msapplication-TileColor" content="#2d89ef">
        <meta name="theme-color" content="#007bff">

        <meta property="og:image" content="https://lesivka.com/og-image.jpg">
        <meta property="og:image:width" content="279">
        <meta property="og:image:height" content="279">
        <meta property="og:title" content="{{ encode('Лесівка') }}">
        <meta property="og:url" content="https://lesivka.com">
        <meta property="og:type" content="website">
        <meta property="og:description" content="Ле&#769;сівка&nbsp;&mdash; проєкт правопису української мови засобами латинської абетки">

        <title>{{ encode('Лесівка') }} :: {% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="/css/bootstrap.min.css">

        <link href="/css/style.css" rel="stylesheet">
    </head>

    <body>
        {% if not popup %}{% include 'header.html' %}{% endif %}

        <main role="main" class="container{% if popup %}-popup{% endif %}">
            {% block content %}{% endblock %}
        </main>

        {% if not popup %}{% include 'footer.html' %}{% endif %}

        <script src="/js/jquery.slim.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/index.js"></script>
        {% block script %}{% endblock %}
    </body>
</html>
