<header>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary">
        <div class="container d-flex justify-content-between">
            <div class="navbar-brand font-weight-bold">{{ encode('Лесівка') }}</div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav">
                    <li class="{{ active('nav-item', name='index') }}">
                        <a class="nav-link" href="{{ page() }}">{{ text('Загальні відомості') }}</a>
                    </li>
                    <li class="{{ active('nav-item', name='abetka') }}">
                        <a class="nav-link" href="{{ page('abetka') }}">{{ text('Абетка та правопис') }}</a>
                    </li>
                    <li class="{{ active('nav-item', name='pryklady') }}">
                        <a class="nav-link" href="{{ page('pryklady') }}">{{ text('Приклади') }}</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="{{ active('nav-link d-inline-block dropdown-toggle', name=('zastosunky', 'nabirnyci')) }}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ text('Застосунки') }}
                        </a>
                        <a class="btn p-0 mt-2 float-right novyny-icon" href="https://novyny.lesiwka.com" target="_blank" title="{{ text('Новини України та світу українською латинкою') }}">[N]</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ page('zastosunky') }}">{{ text('Читати') }}</a>
                            <a class="dropdown-item" href="{{ page('nabirnyci') }}">{{ text('Писати') }}</a>
                        </div>
                    </li>
                </ul>
                <hr class="d-lg-none">
                <div class="btn-group d-none d-lg-flex mx-auto">
                    <a class="{{ active('btn btn-success', name='konverter') }}" role="button" href="{{ page('konverter') }}">{{ text('Конвертер') }}</a>
                    <button class="btn btn-success" role="button" onclick="window.open('{{ page('konverter-popup') }}','_blank','height=500,width=400,left=100,top=100,menubar=no,status=no');" title="{{ text('Відкрити окремо') }}">&nearr;</button>
                </div>
                <div class="d-lg-none">
                    <a class="{{ active('btn btn-success w-100', name='konverter') }}" role="button" href="{{ page('konverter') }}">{{ text('Конвертер') }}</a>
                </div>
                <hr class="d-lg-none">
                <div class="border rounded">
                    <a class="{{ active('btn btn-primary w-100', mode='lat') }}" role="button" href="{{ switch() }}">{{ encode('ЛАТ') }}</a>
                </div>
                </div>
            </div>
        </div>
    </nav>
</header>
