{% extends 'base.html' %}
{% block title %}{{ text('Загальні відомості') }}{% endblock %}
{% block content %}
<h1 class="mt-3 text-center">{{ text('Вступ') }}</h1>
<p>
    {{ text('<b>Ле\u0301сівка</b>&nbsp;&mdash; проєкт правопису української мови засобами латинської абетки') }}
</p>
<p>
    {{ text('До основи покладений принцип «одна літера&nbsp;&mdash; один звук» (фонематична писемність): диграфи') }} <b>дж</b> {{ text('та') }} <b>дз</b> {{ text('позначаються однією літерою, а йотовані голосні') }} (<b>є</b>, <b>ї</b>, <b>ю</b>, <b>я</b>) {{ text('та літера') }} <b>щ</b>&nbsp;{{ text('— двома. Винятком є подовжені приголосні, що позначаються двома однаковими літерами') }}
</p>
<p>
    {{ text('Подробиці дивіться у розділі') }} <a href="{{ page('abetka') }}">{{ text('Абетка та правопис') }}</a>
</p>
<p>
    {{ text("Лесівка ввібрала властивості трьох слов'янських латинок&nbsp;&mdash; чеської, польської та хорватської&nbsp;&mdash; із додаванням деяких унікальних рис") }}
</p>
<h1 class="mt-3 text-center">{{ text('Завдання (ТриЗа)') }}</h1>
<ol>
    <li>
        {{ text('Запровадити зрозумілу систему латинізації') }}
    </li>
    <li>
        {{ text('Закріпити вживання африкатів') }} <b>дж</b> {{ text('та') }} <b>дз</b>
    </li>
    <li>
        {{ text('Запобігти вимові') }} <b>шь</b> {{ text('замість') }} <b>щ</b> (<i>бор[шь]</i> {{ text('замість') }} <i>бор[шч]</i>) {{ text('та втраті твердого') }} <b>ч</b> (<i>[чя]й</i> {{ text('замість') }} <i>[ча]й</i>)
    </li>
</ol>
<h1 class="mt-3 text-center">{{ text('Діакритичні знаки') }}</h1>
<p>
    {{ text('Назви діакритиків максимально українізовані.') }}
    {{ text('Застосовуються наступні знаки:') }}
</p>
<ul>
    <li>
        {{ text('<b>гачо\u0301к</b> (гак, <i>чеськ.</i> háček, <i>англ.</i> caron) запозичений з чеської абетки.') }}
        {{ text('Використовується літерами') }} <b>č</b>, <b>š</b>, <b>ž</b>.
        {{ text('Як наслідок, фразеологізм &laquo;з гаком&raquo; у значенні &laquo;понад міри&raquo; набуває графічного підґрунтя&nbsp;&mdash; висота літери з гачком збільшена відносно базової графеми') }}
        <p>{{ text('Походження: гак&nbsp;&mdash; металевий загнутий стрижень') }}</p>
    </li>
    <li>
        {{ text('<b>за\u0301рубка</b> (горизонтальний штрих, <i>англ.</i> bar або stroke) використовується літерами <b>đ</b> та <b>ƶ</b>, що походять з хорватського та опосередковано польського правописів.') }}
        {{ text('Літерою <b>đ</b> у хорватській абетці позначається звук близький до') }} <b>джь</b> (<b>дьжь</b>),
        {{ text('а <b>ƶ</b> інколи використовується у польській мові як альтернативна форма запису літери <b>ż</b>, що позначає звук') }} <b>ж</b>.
        {{ text('Лесівка застосовує ці літери для запису дещо інших звуків &mdash; африкатів') }} <b>дж</b> {{ text('та') }} <b>дз</b> {{ text('відповідно') }}
        <p>{{ text('Походження: зарубка&nbsp;&mdash; позначка, що зроблена сокирою, ножем чи іншим знаряддям') }}</p>
    </li>
    <li>
        {{ text("<b>скі\u0307\u0301пка</b> (штрих, трі\u0307\u0301ска, <i>пол.</i> kreska, <i>чеськ.</i> čárka, <i>англ.</i> acute accent) успадкована від польського правопису для м'якшення (палаталізації) приголосних.") }}
        {{ text('Лесівка дозволяє використання скіпки над голосними у якості позначки наголосу, як наразі вчиняється у кириличному правописі, але при початковому навчанні варто цього уникати, натомість вказуючи місце наголосу у слові кольором відповідної літери.') }}
        {{ text('Цей діакритик не утворює окремих літер, отже літери зі скіпкою не входять до складу абетки') }}
        <p>{{ text('Походження: скіпка (або тріска)&nbsp;&mdash; тоненький шматок сухого дерева') }}</p>
    </li>
</ul>

    <h1 class="mt-3 text-center">{{ text('Суспільна думка') }}</h1>
<p>
    {{ text('Під час розробки проєкту до уваги бралися результати опитування з сайту') }} <a href="http://latynka.tak.today/opytuvannja/" target="_blank">http://latynka.tak.today/opytuvannja/</a> ({{ text('наразі недоступно') }})
</p>
<p>
    {{ text('Станом на момент написання цього тексту (5.01.2019), підсумки були наступними:') }}
</p>
<ul>
    <li>
        <b>{{ text('Як позначати шиплячі') }} (ч, ш, ж) {{ text('в українській латинці?') }}</b>
        <ul>
            <li>{{ text('у опитуванні взяли участь <b>3474</b> особи') }}</li>
            <li>
                {{ text('з результатом <b>59,6%</b> переміг варіант:') }} <b>č, š, ž</b>
                <ul class="nobull">
                    <li><span class="text-success">&#x2714; {{ text('Прийнято') }}</span></li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <b>{{ text('Українська латинка має бути&hellip;') }}</b>
        <ul>
            <li>{{ text('у опитуванні взяли участь <b>1988</b> осіб') }}</li>
            <li>
                {{ text('з результатом <b>65,3%</b> переміг варіант: <b>з діакритичними знаками</b>') }}
                <ul class="nobull">
                    <li><span class="text-success">&#x2714; {{ text('Прийнято') }}</span></li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <b>{{ text('Якщо Ви за діакритичні знаки, то як багато їх слід використовувати?') }}</b>
        <ul>
            <li>{{ text('у опитуванні взяли участь <b>1598</b> осіб</li>') }}
            <li>
                {{ text("з результатом <b>52,6%</b> переміг варіант: <b>тільки для позначення шиплячих і м'яких звуків</b>") }}
                <ul class="nobull">
                    <li><span class="text-success">&#x2714; {{ text('Прийнято') }}</span></li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <b>{{ text("Як позначати латинкою пом'якшення приголосних перед наступним приголосним та наприкінці слова (де в кирилиці м'який знак)?") }}</b>
        <ul>
            <li>{{ text('у опитуванні взяли участь <b>1747</b> осіб') }}</li>
            <li>
                {{ text('з результатом <b>51,6%</b> переміг варіант: <b>діакритичними знаками</b>') }}
                <ul class="nobull">
                    <li><span class="text-success">&#x2714; {{ text('Прийнято') }}</span></li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <b>{{ text("Як позначати пом'якшення приголосних перед наступним голосним, крім") }} &laquo;і&raquo;?</b>
        <ul>
            <li>{{ text('у опитуванні взяли участь <b>1272</b> особи') }}</li>
            <li>
                {{ text('з результатом <b>29,8%</b> переміг варіант: <b>діакритичними знаками для приголосних</b>') }}
                <ul class="nobull">
                    <li><span class="text-success">&#x2714; {{ text('Прийнято') }}</span></li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <b>{{ text('Як передавати латинкою') }} Г, Ґ ?</b>
        <ul>
            <li>{{ text('у опитуванні взяли участь <b>1967</b> осіб') }}</li>
            <li>
                {{ text('з результатом <b>62,2%</b> переміг варіант:') }} <b>Г - H; Ґ - G</b>
                <ul class="nobull">
                    <li><span class="text-success">&#x2714; {{ text('Прийнято') }}</span></li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <b>{{ text('Як передавати латинкою') }} Х?</b>
        <ul>
            <li>{{ text('у опитуванні взяли участь <b>2027</b> осіб') }}</li>
            <li>
                {{ text('з результатом <b>27,8%</b> переміг варіант:') }} <b>H</b>
                <ul class="nobull">
                    <li><span class="text-danger">&#x274C; {{ text('Відхилено') }}</span>: {{ text('суперечить результату попереднього опитування. Був обраний найближчий варіант, що не використовує діграфи: <b>X</b> (з результатом <b>20,6%</b>)') }}</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
{% endblock %}
