{% extends 'base.html' %}
{% block title %}{{ text('Вступ') }}{% endblock %}
{% block content %}
<h1 class="mt-3 text-center">{{ text('Вступ') }}</h1>
<p>
    {{ text('Ле\u0301сівка', clear=True) }}&nbsp;&mdash; {{ text('проект правопису української мови засобами латинської абетки') }}
</p>
<p>
    {{ text('До її основи покладений принцип, згідно з яким, одному звуку відповідає одна літера') }} ({{ text('дивіться') }} <a href="{{ page('abc') }}">{{ text('Абетка') }}</a>).
    {{ text('Отже, діграфи') }} <b>дж</b>, <b>дз</b> {{ text('позначаються однією літерою, а йотовані голосні') }} (<b>є</b>, <b>ї</b>, <b>ю</b>, <b>я</b>) {{ text('та літера') }} <b>щ</b>&nbsp;{{ text('— двома') }}
</p>
<p>
    {{ text('Також, серед особливостей цього правопису є те, що звуки, що позначаються кириличними літерами') }} <b>і</b> {{ text('та') }} <b>и</b>, {{ text('відтворюються латинкою єдиною літерою') }} <b>i</b> {{ text("й розрізняются наявністю пом'якшення попередньої приголосної або позицією у слові") }} ({{ text('дивіться') }} <a href="{{ page('spell') }}">{{ text('Правопис') }}</a>)
</p>
{% endblock %}
