{% macro letter(l, n, c=None) -%}
<td class="letterbox{% if c %} {{ c }}{% endif %}">
    <div class="mt-3 letter">{{ l }}&nbsp;{{ l | lower }}</div>
    <div class="mb-3 letter-name">({{ n }})</div>
</td>
{%- endmacro %}

{% macro empty() -%}
<td class="empty"></td>
{%- endmacro %}

{% macro hoverable(word) -%}
<span class="examples hoverable"><span class="normal">{{ encode(word) }}</span><span class="hover bg-secondary text-light text-nowrap">{{ word }}</span></span>
{%- endmacro %}

{% macro examples() %}
<ul>
    {% for word in varargs -%}
    <li>{{ hoverable(word) }}</li>
    {%- endfor %}
</ul>
{% endmacro %}

{% macro usage(letter, example, softsign=False) -%}
<tr>
    <td>{{ letter }}</td>
    <td>{{ text('скіпка') if softsign else encode(letter) }}</td>
    <td class="d-none d-md-table-cell">{{ example }}</td>
    <td class="d-none d-md-table-cell">{{ encode(example) }}</td>
    <td class="d-table-cell d-md-none">{{ hoverable(example) }}</td>
</tr>
{%- endmacro %}

{% macro usagej(letter, example1, example2) -%}
<tr>
    <td rowspan="2">{{ letter }}</td>
    <td>{{ encode(letter) }}</td>
    <td class="d-none d-md-table-cell">{{ example1 }}</td>
    <td class="d-none d-md-table-cell">{{ encode(example1) }}</td>
    <td class="d-table-cell d-md-none">{{ hoverable(example1) }}</td>
</tr>
<tr>
    <td class="text-nowrap">{{ text('скіпка') }} + {{ encode(letter)[-1] }}</td>
    <td class="d-none d-md-table-cell">{{ example2 }}</td>
    <td class="d-none d-md-table-cell">{{ encode(example2) }}</td>
    <td class="d-table-cell d-md-none">{{ hoverable(example2) }}</td>
</tr>
{%- endmacro %}

{% macro usagei(letter, example1, example2) -%}
<tr>
    <td rowspan="2">{{ letter }}</td>
    <td rowspan="2">{{ encode(letter) }}</td>
    <td class="d-none d-md-table-cell">{{ example1 }}</td>
    <td class="d-none d-md-table-cell">{{ encode(example1) }}</td>
    <td class="d-table-cell d-md-none">{{ hoverable(example1) }}</td>
</tr>
<tr>
    <td class="d-none d-md-table-cell">{{ example2 }}</td>
    <td class="d-none d-md-table-cell">{{ encode(example2) }}</td>
    <td class="d-table-cell d-md-none">{{ hoverable(example2) }}</td>
</tr>
{%- endmacro %}

{% macro example(text, indent=False) -%}
<div class="hoverable text-nowrap">
    {%- if indent %}<span class="ml-4"></span>{% endif -%}
    <span class="normal">{{ encode(text) }}</span>
    <span class="hover bg-secondary text-light">{{ text }}</span>
</div>
{%- endmacro %}
