{% extends 'base.html' %}
{% block title %}{{ text('Застосунки') }}{% endblock %}
{% block content %}
<h2 class="mt-4 text-center">{{ text('Новини України та світу') }}</h2>
<div>
<div class="mx-auto display-table">
    <a href="https://novyny.lesiwka.com" target="_blank" title="{{ text('Новини України та світу українською латинкою') }}">
        <img alt="[NOVYNY]" class="logo-img rounded" src="/static/images/novyny.png"/>
    </a>
</div>
</div>
<h2 class="mt-5 text-center">{{ text('Будь-який сайт') }}</h2>
<div class="list-group mx-auto display-table logo-img">
    <a class="list-group-item list-group-item-action d-flex" href="https://chrome.google.com/webstore/detail/jncmamdkncnhfapdngjpdealbnljpcpf" target="_blank">
        <img class="my-auto pr-2" src="/static/images/chrome.png" alt="Chrome">
        <div class="text-center my-4 w-100">
            <h4>{{ text('Розширення для Chrome') }}</h4>
        </div>
    </a>
</div>
{% endblock %}
